html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro";
    /*font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif;*/
    font-size: 13px;
    margin: auto;
    line-height: 1.5;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both
}

.page {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    margin: auto;
    font-family: "Source Sans Pro";
    /*font-family: Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif;*/
    font-size: 16px;
    line-height: 1.5;
    height: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1600;
    box-shadow: none;
    margin: auto;
}

    .header .sticky {
        width: 90%;
        height: 50px;
        background-color: #fff;
        box-shadow: unset;
        margin: auto;
        z-index: 6;
        margin-top: 15px;
    }


        .header .sticky .topnav {
            display: block;
            color: #000;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
            width: 58%;
            height: 50px;
            margin-top: 20px;
            padding-left: 6px;
        }

            .header .sticky .topnav .dropdown1 {
                margin-left: 10%;
                width: auto;
                height: 26px;
                padding: 1px;
                box-sizing: unset;
                z-index: 1;
            }


.header .sticky .topnav .dropdown1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
   
    opacity: 0.9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background: #ddd;
}

.header .sticky .topnav .dropdown1:hover .dropbtn {
    
    color: #1e73be;
}

.header .sticky .topnav .dropdown1:hover .dropdown-content {
    display: block;
}

.header .sticky .topnav .dropdown1 a {
    color: #000;
    text-decoration: none;
    display: block;
}

    .header .sticky .topnav .dropdown1 a:hover {
        color: #1e73be;
    }

.header .sticky .topnav .dropdown1:hover {    
    height: 26px;  
    padding: 1px;
    cursor: pointer;
}

.header .sticky .btn-open {
    font-size: 24px !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    float: right;
    display: none;
}

.btn-close {
    font-size: 24px !important;
    border: none;
    /*padding: 8px 16px;*/

    background-color: inherit;
    float: right;
}

.menuM {
    animation: animateleft 0.4s;
    
    height: 50%;
    background-color: #fff;
    position: fixed !important;
    z-index: 100;
    overflow: auto;
    position: relative;
    animation: animateleft 0.4s;
    padding: 20px;
    line-height: 2;
    opacity: 0.9;
    font-weight: bold;
}
    .menuM a {
        color: black;
        text-decoration: none;
    }

    .menuM .dropdownM .dropdown-contentM {
        display: none;
        padding: 10px;
    }

    .menuM .dropdownM:hover .dropdown-contentM {
        display: block;
        
    }

    .menuM .dropdown-contentM a {
        display: block;
    }




@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}



.container1 {
    width: 100%;
    height: auto;
}

.slider-image {
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
}

.image-container {
    width: 300%;
    /*animation: slideShow 40s infinite;*/
}

    .image-container img {
        float: left;
        height: 540px;
        width: 33.33333%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fade 3s
    }


@keyframes slideShow {

    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}





.arrow {
    z-index: 10;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: cornsilk;
    opacity: 0.5;
    transition: opacity 1s;
}

    .arrow:hover {
       /* cursor: pointer;*/
        opacity: 1;
    }

.arrow-left {
    left: 2%;
}

.arrow-right {
    right: 2%;
}

.container1 .box1 {
    margin-left:5%;
}
.container1 h2{
    font-size:32px;
    text-align:center;
}

    .container1 .box1 .content {
        width: 45%;
        height: auto;
        float: left;
        
        margin-right: 5%;
        margin-top: 5%;
    }
       /* .container1 .box1 .img{
            margin-top:15%;
            
        }*/
            .container1 .box1 .img img{
                width:100%;
                margin-top:7%;
            }

            .container1 .box1 img {
                max-width: 100%;
            }
    .container1 .box1 .iconwrap {
    max-width:80%;
    margin-left:10%;
    }
     
    .container1 .wraperrow{
        width:100%;
        display:flex;
        flex-direction:column;
    }

    .container1 .row2 {
        width: 90%;
        float: left;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
    }

.container1 .elementor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container1 .row2 .box2 {
  
 /*   display: flex;
    flex-wrap: wrap;
    flex-direction: row;*/
    width: 30%;
    height: auto;
  
    text-align: left;
    overflow: hidden;
    
    /*padding: 0 4% 0 0;*/
}

    .container1 .row2 .box2 h3 {
        color: #039fa8;
      
    }
    .container1 .row2 .box2 p {
        color: #626567;
    }

    .container1 .row2 .box2 img {
        vertical-align: middle;
        height: auto;
        max-width: 100%;
    }

.container1 .row3 {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 .box3 {
    width: 25%;
    height: auto;
    text-align: center;
    overflow: hidden;
    font-weight:bold;
}

.box3 img {
    max-width: 70%;
    opacity:0.9;
}


/*footer*/
body footer {
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    /*background: #d1d0ce;*/
    margin-top:5%;

    background: #282d32;
    color: #f0f9ff;
    justify-content: space-between;
    float: left;
}


footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height:300px;
}

    footer .container .footer-logo {
        display: inline-block;
        vertical-align: middle;
        width: 212px;
        height: 118px;
        background: url("../images/footer-logo.png") no-repeat;
        background-size: cover;
        /*margin-right: 25px*/
        margin-top: 5%;
    }


.container .noi-dung .links h3 {
    position: relative;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}

.fab{
    margin-right:10px;
}





.container .noi-dung.links {
    position: relative;
    /*padding: 10px 0 10px;*/
    margin-top:4%;
}


.links ul {
    list-style: none;
    padding:0;
}

    .links ul a {
        color: #f0f9ff;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        opacity: 0.6;
    }

.link ul a:hover {
    opacity: 0.8;
}


/*.links .info li span:nth-child(1) {*/
/*color: #000;*/
/*font-size: 20px;
                margin-right: 10px;
                color:#f0f9ff;
            }*/


/*tablet*/
/* typical tablet screen resolution */
@media screen and (max-width:1200px) {
    #nav {
        display: none;
    }
    .arrow {
        height: 60%;
        /*height: 14.5rem;*/
        opacity: 0.3;
    }

    .header .sticky .btn-open {
        display: block;
    }

    .image-container img {
        height: auto;
    }

    .container1 .box1 .content {
        display: flex;
        flex-direction: column;
        width: 95%;
        
    }
    .container1 .box1 .img {
        margin-top:5%;
    }

    .container1 .row2 .box2 {
        width: 100%;
    }
    .container1 .row2 .box2 img{
        width:100%;
    }

        .container1 .row2 .box2 h3 {
            text-align: center;
        }

    #row2 {
        width: 90%;
        flex-direction: column;
    }

    .container1 .box3 {
        width: 50%;
    }



    .container .noi-dung.links {
        width: 45%;
    }

    #chinhsach {
        display: none;
    }
}
@media screen and (max-width:1356px){
    .header .sticky .topnav{
        width:66%;
    }
}

@media screen and (max-width:768px) {
    /*moblie menu*/
    .topnav {
        display: none;
    }

    #nav {
        display: none;
    }

    .header .sticky .btn-open {
        display: block;
    }


    .arrow {
        height:60%;
        /*height: 14.5rem;*/
        opacity: 0.3;
    }

    .image-container img {
        height: auto;
    }

    .container1 .box1 .content {
        display: flex;
        flex-direction: column;
        width: 95%;
       
    }
    .container1 .box1 .img {
        margin-top: 5%;
    }

    .container1 .row2 .box2 {
        width: 100%;
    }

        .container1 .row2 .box2 h3 {
            text-align: center;
        }

    #row2 {
        width: 90%;
        flex-direction: column;
    }

    .container1 .box3 {
        width: 50%;
    }
   
    /*mobile footer*/
    footer .container .noi-dung.links {
        width: 100%;
    }

    .links ul {
        padding: 0;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
        height:auto;
    }

        footer .container .footer-logo {
            margin-top: 5%;
        }

    #chinhsach {
        display: none;
    }
}

@media screen and (max-width:480px) {
 
}
